@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background-color: #020617;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #020617;
}

#root {
  min-height: 100vh;
}
